# .env (backend directory)

# Environment variables for the backend application

# Server port
PORT=3000

# Secret key for generating JWT tokens
JWT_SECRET=your_jwt_secret_key

# Database connection URL
DATABASE_URL=postgresql://furnish:furnish@database:5432/furnishcrafts

# Database connection details (You can change if You want)
DB_HOST=database
DB_PORT=5432
DB_NAME=furnishcrafts
DB_USER=furnish
DB_PASSWORD=furnish

# Environment mode
NODE_ENV=development